<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dr. Dank's Delicous Delicaices</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <h3 class="text-muted">UPS Eats - The Kithen Edition!</h3>
        </div>

        <div class="jumbotron">
            <h1>{{order}}</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="done" role="button">Mark as Done</a>
            </p>
        </div>


        <footer class="footer">
            <p>&copy; Matt Thoburn 2017</p>
        </footer>

    </div>
</body>

</html>