<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Orders</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Default Ingredients</th>
        <th>Comment/Substitution</th>
        <th>Order #</th>
        <th>Mark as Done</th>
      </tr>
    </thead>
    <tbody>
        {% for order, ingredients, comment, orderNum in orders %}
            <tr>
            <td>{{order}}</td>
            <td>{{ingredients}}</td>
            <td>{{comment}}</td>
            <td>{{orderNum}}</td>
            <td>  <a class="btn btn-lg btn-success" href="queue?orderNum={{orderNum}}" role="button">Done</a> </td>
          </tr>
        {% endfor %}

    </tbody>
  </table>
</div>

</body>
</html>
